<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.firstProject.repository.TopicMapper">
    <insert id="saveTopic" parameterType="com.example.firstProject.entity.Topic">
        INSERT INTO topic(topic_name, monitoring_name, ip, port, status)
        VALUES (#{topic.topicName}, #{topic.monitoringName}, #{topic.ip}, #{topic.port}, #{topic.status})
    </insert>
    <select id="getAllTopic" resultType="com.example.firstProject.entity.Topic">
        SELECT id, topic_name AS topicName, monitoring_name AS monitoringName, ip, port, status
        FROM topic
        ORDER BY id desc;
    </select>
    <select id="getTopicById" parameterType="Long" resultType="com.example.firstProject.entity.Topic">
        SELECT id, topic_name AS topicName, monitoring_name AS monitoringName, ip, port, status
        FROM topic
        WHERE id = #{id};
    </select>
    <select id="getTopicByName" parameterType="String" resultType="com.example.firstProject.entity.Topic">
        SELECT id, topic_name AS topicName, monitoring_name AS monitoringName, ip, port, status
        FROM topic
        WHERE topic_name = #{name};
    </select>
    <delete id="deleteTopic" parameterType="Long">
        DELETE FROM topic
        WHERE id = #{id}
    </delete>
    <update id="updateTopic" parameterType="com.example.firstProject.entity.Topic">
        UPDATE topic
        SET topic_name= #{topic.topicName}, monitoring_name= #{topic.monitoringName} , ip = #{topic.ip}, port = #{topic.port}
        WHERE id = #{topic.id}
    </update>
    <update id="updateStatus" parameterType="com.example.firstProject.entity.Topic">
        UPDATE topic
        SET status = #{topic.status}
        WHERE id = #{topic.id}
    </update>
</mapper>