.page_container {
    position:absolute;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

#monitoring{
    margin:0;
    padding:0;
    height: 100%;
}

#monitoringTable{
    position:absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap : wrap;
    width : 82%;
    height: calc(100% - 70px);
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);

}

.topic{
    background-color: yellow;
    width : 45%;
    height : 45%;
    margin : 10px;
}
