.page_container {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

#monitoring {
    margin: 0;
    padding: 0;
    height: 100%;
}

#monitoringTable {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 82%;
    height: calc(100% - 70px);
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
}

.topic {
    position: relative;
    border-style: solid;
    width: 47%;
    height: 48%;
    margin-top: 20px;
    overflow: auto;
}

.monitoringName {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    font-family: "Noto Sans CJK KR";
    font-weight: bold;
}

.status {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
    font-family: "Noto Sans CJK KR";
    font-wieght: bold;
    color: red;
}

#buttons {
    position: absolute;
    top: 5px;
    right: 5%;
}

.button {
    width: 70px;
    height: 40px;
    background-color: white;
    border-color: #0f172a;
    border-style: solid;
    border-width: thin;
    color: #0f172a;
    margin: 5px;
}

.MonitoringListTable {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 60px;
    table-layout: fixed;
    word-break: break-all;
}